*{ margin:0; padding:0; }
html, body{ height:100%; }
html{ padding:40px 0px 40px 0px; overflow:hidden; background-color:#FFF; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
body{ color:#333; font:12px/1.5 simsun; }

.header, .footer, .maincontent{ position:relative; }
.header, .footer{ height:40px; overflow:hidden; background-color:#09C; }
.header{ margin-top:-40px; }
.maincontent{ padding-left:180px; height:100%; overflow:hidden; background-color:#CCC; }
.sidebar, .content{ display:inline; float:left; height:100%; overflow:hidden; overflow-y:scroll; }
.sidebar{ margin-left:-180px; width:180px; }
.rightbox{ width:100%; }

/*
  body { 
  font: normal normal normal 12px/150% Arial, "ו" ,Helvetica,sans-serif;
  border:0px;
  margin: 0px;
  padding: 0px;
  background: #000;
  text-decoration: none;
  }
  #container{
  width:100%;
  border:0px;
  margin:0px auto;
  padding:0px;
  background:#FFFFFF;
  }
  #header{
  height:50px;
  margin:0px;
  padding:0px;
  border:0px;
  background:#FF9900;
  }
  #mainContent{
  margin:5px auto;
  padding:0px;
  width:100%;
  height:350px;
  }
  #sidebar{
  width:14%;
  height:100%;
  pading:0px;
  margin:0;
  background:#00FF00;
  text-align:left; 
  overflow:hidden; 
  float:left;
  }
  #content{
  width:85%;
  height:100%;
  margin:0px;
  background:#FF00CC;
  text-align:left; 
  overflow:hidden; 
  float:right;
  } 
  #footer{
  height:77px;
  background:#9966FF;
  clear:both;
  }
  .clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}*/